@import url('https://fonts.googleapis.com/css?family=Muli:300,700&display=swap');

*{margin:0;padding: 0;font-family: 'Muli', sans-serif;font-size: 12px;}


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Search Bar */
.App .searchBar{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  flex-direction: row;
  flex-shrink: 0;
}
.App .searchBar form input{
  padding: 5px;
  width: 730px;
  border: 1px solid #ccc;
}
.App .searchBar form input.searchBtn{
  padding: 5px;
  width: 70px;
  border: 1px solid #ccc;
  background:rgb(45, 45, 45);
  color: #FFF;
  text-shadow: 1px #000;
  font-weight: bold;
}

.App .content{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px;
}


/* Repo List */
.App .list{
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 500px;
  padding: 4px;
  box-sizing: border-box;
}
.App .list .repo{
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 2px 5px;
  justify-content: center;
  align-items: center;
  background: #aa076b; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #aa076b, #61045f); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #aa076b, #61045f); 
  color:#fff;
  border:1px solid #FFF;
  margin-bottom: 5px;
  border-radius: 12px;
  box-shadow: 5px 6px #88888879;
}
.App .list .repo .header{
  display: flex;
  width: 100%;
  padding: 2px;
  justify-content: center;
  align-items: center;
}
.App .list .repo .header .title{
  display: flex;
  width: 380px;
}
.App .list .repo .header .title h3{
  font-size: 14px;
}
.App .list .repo .header .title span{
  font-size: 12px;
}

.App .list .repo .header .externalLink{
  display: flex;
  width: 60px;
  justify-content: center;
  align-items: center;
}
.App .list .repo .header .externalLink button{
  background: none;
  border: none;
  cursor: pointer;
}
.App .list .repo .header .externalLink button i{
  color:#FFF;
}
